<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/create-room" method="POST">
            <div>
                <label for="">Tên phòng</label>
                <input type="text" name="roomName">
            </div>

            <div>
                <label for="">Mô tả</label>
                <input type="text" name="description">
            </div>

            <button type="submit">Tạo phòng</button>
        </form>
    </div>
</body>
</html>